//registry.npmjs.org/:_authToken=${process.env.NPM_TOKEN}
@zotijstestingms:registry=https://registry.npmjs.org
always-auth=true

# workaround for Docker builds, needs to be re-evaluated
# shared-workspace-lockfile=false